@font-face {
    font-family: 'SF Pro';
    src: url('SF-Pro.ttf') format('truetype');
}

body {
    background-color: white; /* Set a plain white background color */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p1 {
    font-family: 'SF Pro', sans-serif;
    color: black; /* Set the text color to black */
    font-size: 50px; /* Larger font size */
    margin-top: 20px; /* Add some margin at the top */
}